---
import Layout from '../layouts/Layout.astro';
---

<Layout title="A SONIC AFFAIR">
  <div class='about-content'>
    <div class='card'>
      <div class='question'>
        What is the theme of the event?
      </div>
      <div class='answer'>
        Traveling Circus
      </div>
    </div>

    <div class='card'>
      <div class='question'>
        Are there guidelines?
      </div>
      <ul class='answer'>
        <li>
          Follow the theme (dress, contribution)
        </li>
        <li>
          Contribute creatively to the event 
        </li>
        <li>
          Do what you do best or what you’ve always wanted to do 
        </li>
        <li>
          Help clean up 
        </li>
        <li>
          Bring your own food/drink/supplies: don’t exclusively rely on the other attendees 
        </li>
        <li>
          No pets
        </li>
        <li>
         Buy a ticket
        </li>
      </ul>
    </div>

    <div class='card'>
      <div class='question'>
        How do I contribute creatively to the event?
      </div>
      <div class='answer'>
        Whether through music, dance, food, drink, games or even by helping setting up the infrastructure on Friday morning. This is your roadshow.
      </div>
    </div>

    <div class='card'>
      <div class='question'>
        Where is the event?
      </div>
      <div class='answer'>
        Western Slope of Colorado. The one-mile private property is situated on a river surrounded by red rock. From Denver, expect ~4.5hrs for your commute. Exact coordinates will be provided the week of the event. Plan to Friday morning.
      </div>
    </div>

    <div class='card'>
      <div class='question'>
        When is the event?
      </div>
      <div class='answer'>
        Friday June 23-Sunday June 25.
      </div>
    </div>

    <div class='card'>
      <div class='question'>
        What do the ticket proceeds fund?
      </div>
      <div class='answer'>
        The ticket fees fund the infrastructure of the event: stage, lounge area, equipment rentals, portable bathroom rentals, propery rental, power, etc.
      </div>
    </div>

    <div class='card'>
      <div class='question'>
        Who do I contact if I have a question?
      </div>
      <div class='answer'>
        You can contact Mark at 610-804-0634 or reach out to one of last year's attendees.
      </div>
    </div>

    <div class='card'>
      <div class='question'>
        What is your refund policy?
      </div>
      <div class='answer'>
        No refunds.
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'>
  .question {
    font-weight: 600;
    font-size: var(--text-size-large);

    @media (max-width: 1200px) {
      font-size: var(--mobile-text-size-large);
    }
  }
  .answer {
    font-weight: 300;
    font-size: var(--text-size);

    @media (max-width: 1200px) {
      font-size: var(--mobile-text-size);
    }
  }

  ul.answer {
    margin: 0;
    padding-left: 1.5rem;
  }

  .about-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 1200px) {
      margin-top: 2rem;
      gap: 2rem;
    }
  }
  .card {
    gap: 1rem;
    padding: 2rem;
    background: #00000080;
    border: 1px solid #ffffff8f;
    border-radius: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1200px) {
      padding: 2rem;
      gap: 1rem;
    }
  }
</style>
