---
import Layout from '../layouts/Layout.astro';
---
<Layout title="A SONIC AFFAIR">
  <div class='home-content'>
    <div class='card-wrapper'>
      <div class='card tiger' />
      <div class='card info'>
        <div class='top-info'>
          <h1 class='card-header'>
            JUNE 22-25
          </h1>
          <p>
            A Sonic Affair is a thematic experience based around creative contribution and live music. Please read the FAQ before registering.
          </p>
        </div>

        <div class='bottom-info'>
          <div class='lineup-header'>
            <h1 class='card-header'>
              LINEUP
            </h1>
            <div>
              <h2>
                PHASE ONE
              </h2>
              <h2>
                MORE TBA
              </h2>
            </div>
          </div>

          <div class='artists-wrapper'>
            <div class='artist'>JL</div>
            <div class='artist'>JUSTIN KLISE</div>
            <div class='artist'>LAURAIN</div>
            <div class='artist'>MASS RELAY</div>
            <div class='artist'>MESKA</div>
            <div class='artist'>MLRTYME</div>
            <div class='artist'>SILENT J</div>
            <div class='artist'>SIXTYFOURBIT</div>
            <div class='artist'>THE WARDEN</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'>
  .home-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 1200px) {
      margin-top: 2rem;
      gap: 2rem;
      flex-direction: column;
    }
  }
  .card-wrapper {
    display: flex;
    gap: 2rem;

    @media (max-width: 1200px) {
      gap: 2rem;
      flex-direction: column;
    }
  }

  .vertical-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 1200px) {
      gap: 2rem;
      flex-direction: column;
    }
  }

  .card {
    padding: 2rem;
    text-align: center;
    background: #00000080;
    border: 1px solid #ffffff8f;
    border-radius: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;

    h1 {
      font-size: var(--text-size-large);
      margin: 0;
    }

    &.tiger {
      padding: 0;
      height: 34rem;
      flex-shrink: 0;
      aspect-ratio: 1 / 1;
      overflow: hidden;
      background-image: url('/public/tiger.png');
      background-size: cover;

      @media (max-width: 1200px) {
        gap: 0.5rem;
        height: auto
      }
    }

    &.info {
      justify-content: space-between;
      padding: 2rem;
      font-weight: 600;

      h2 {
        font-size: var(--text-size-large);
        font-weight: 300;
        margin: 0;
      }

      p {
        margin: 0;
        font-weight: 300;
        font-size: var(--text-size);
      }

      .top-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 1200px) {
          gap: 0.5rem;
        }
      }

      .bottom-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 1200px) {
          gap: 0.5rem;
        }
      }

      .lineup-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        div {
          height: 2rem;
        }
        h2 {
          margin: 0;
          height: auto;
          font-size: 1rem;
          line-height: 1rem;
        }
      }

      .artists-wrapper {
        padding: 0 2rem;

        .artist {
          border-radius: 1rem;
          padding: 0 1rem;
          font-weight: 700;
          font-size: 1.5rem;
        }

        @media (max-width: 1200px) {
          padding: 0 2rem;
        }
      }

      @media (max-width: 1200px) {
        padding: 3rem 1rem;
        font-size: var(--text-size-large);
      }
    }
  }
</style>
