---
import Layout from '../layouts/Layout.astro';
---

<Layout title="A SONIC AFFAIR">
  <div class='home-content'>
    <div class='card-wrapper'>
      <div class='card tiger'/>

      <div class='card info'>
        <p>
          A Sonic Affair is a thematic experience based around creative contribution and live music. Please read the FAQ before registering.
        </p>
        <h1>
          JUNE 23-25
        </h1>
        <h1>
          LINEUP TBA
        </h1>
      </div>
    </div>
  </div>
</Layout>

<style lang='scss'>
  .home-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media (max-width: 1200px) {
      margin-top: 1.5rem;
      gap: 1rem;
      flex-direction: column;
    }
  }
  .card-wrapper {
    display: flex;
    gap: 2.5rem;

    @media (max-width: 1200px) {
      gap: 1rem;
      flex-direction: column;
    }
  }

  .card {
    padding: 5rem;
    text-align: center;
    background: #00000080;
    border: 1px solid #ffffff8f;
    border-radius: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;

    &.tiger {
      padding: 0;
      height: 30rem;
      aspect-ratio: 1 / 1;
      background-size: cover;
      background-image: url('/public/tiger.png');

      @media (max-width: 1200px) {
        gap: 0.5rem;
        height: auto
      }
    }

    &.info {
      padding: 4rem;
      flex-grow: 1;
      font-weight: 600;

      h1 {
        font-size: var(--text-size-large);
        margin: 0;
      }

      p {
        margin: 0;
        font-weight: 300;
        font-size: var(--text-size);
      }

      @media (max-width: 1200px) {
        padding: 1rem;
        font-size: var(--text-size-large);
      }
    }

    &.about {
      font-size: var(--text-size);
      padding: 5rem;
      flex-grow: 1;
      
      @media (max-width: 1200px) {
        padding: 1rem;
      }
    }
  }
</style>
