---
import Layout from '../layouts/Layout.astro';
---
<Layout title="A SONIC AFFAIR">
  <div class='home-content'>
    <div class='card-wrapper'>
      <img
        src="asf_web.svg"
        alt="A sonic affair lineup flyer"
      />

      <div class='card info'>
        <div class='top-info'>
          <h1 class='card-header'>
            JUNE 23-25
          </h1>
          <p>
            A Sonic Affair is a thematic experience based around creative contribution and live music. Please read the FAQ before registering.
          </p>
          </br>
          <p>
            <strong>ONLINE TICKET PURCHASES ONLY.</strong> No on-site purchases. Coordinates will be texted out to all ticket holders on Wednesday. Please have proof of purchase ready upon arrival.
          </p>
          </br>
          <p>Click <a href="/terms/">HERE</a> to read the events terms and conditions</p>
        </div>
      </div>
    </div>

    <div class='card activities'>
        <h1 class='card-header' style='width: 100%'>
          ATTENDEE CONTRIBUTED ACTIVITIES
        </h1>
        <div class='activities-list'>
          <div>Uncrustables station (Friday night)</div>
          <div>Fried Chicken & Pickles (Saturday night)</div>
          <div>Gourmet Grilled Cheese (Saturday night)</div>
          <div>Cocktail Hour (Saturday @ sunset)</div>
          <div>Frick Frack Blackjack (unofficial)</div>
          <div>Sound Bath</div>
          <div>Jeopardy</div>
          <div>Group Skit</div>
          <div>Talent Show</div>
          <div>Watercolors</div>
          <div>Friendship Bracelets</div>
          <div>Le Lounge</div>
          <div>Silent Auction</div>
        </div>
      </div>
  </div>
</Layout>

<style lang='scss'>
  .home-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 1200px) {
      margin-top: 2rem;
      gap: 2rem;
      flex-direction: column;
    }
  }

  .card-wrapper {
    display: flex;
    gap: 2rem;

    img {
      width: 50%;
    }

    @media (max-width: 1200px) {
      img {
        width: 100%;
      }

      gap: 2rem;
      flex-direction: column;
    }
  }

  .vertical-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 1200px) {
      gap: 2rem;
      flex-direction: column;
    }
  }

  .card {
    padding: 2rem;
    text-align: center;
    background: #00000099;
    border: 1px solid #ffffff8f;
    border-radius: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-direction: column;

    a, a:visited {
      font-weight: bold;
      color: #ffffff;
    }

    h1 {
      font-size: var(--text-size-large);
      margin: 0;
    }

    &.activities {
      .activities-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-weight: 300;
        font-size: var(--text-size);
        list-style-type: none;
      }
    }

    &.info {
      justify-content: space-between;
      padding: 2rem;
      font-weight: 600;

      h2 {
        font-size: var(--text-size-large);
        font-weight: 300;
        margin: 0;
      }
      
      p {
        margin: 0;
        font-weight: 300;
        font-size: var(--text-size);
      }

      .top-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 1200px) {
          gap: 0.5rem;
        }
      }

      .bottom-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;

        @media (max-width: 1200px) {
          gap: 0.5rem;
        }
      }

      .lineup-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        div {
          height: 2rem;
        }
        h2 {
          margin: 0;
          height: auto;
          font-size: 1rem;
          line-height: 1rem;
        }
      }

      .artists-wrapper {
        padding: 0 2rem;

        .artist {
          border-radius: 1rem;
          padding: 0 1rem;
          font-weight: 700;
          font-size: 1.5rem;
        }

        @media (max-width: 1200px) {
          padding: 0 2rem;
        }
      }

      @media (max-width: 1200px) {
        padding: 3rem 1rem;
        font-size: var(--text-size-large);
      }
    }
  }
</style>
