---
import Layout from '../layouts/Layout.astro';
---

<Layout title="A SONIC AFFAIR">
  <div class='about-content'>
    <div class='card'>
      <h1>
        A Sonic Affair Event Terms and Conditions, Waiver, and Release Form 
      </h1>

      <p>
        In consideration of being allowed to participate in this A Sonic Affair activity, offering, or event, you agree to comply with all rules, regulations, terms, and conditions of the Event, including but not limited to the following:

        <ol>
          <li><strong>Waiver of Liability and Release.</strong> You, on behalf of yourself and your agents, personal representatives, assigns, heirs, and next of kin, hereby waive any and all liability that Mark Rothman may owe to you and your agents, personal representatives, assigns, heirs, and next of kin for any and all loss, damages, claims or demands related to bodily injury, illness, property damage, economic loss, liability or expenses of any kind (collectively, Claims) that you may experience or incur, whether caused by the negligence of Mark Rothman or otherwise, associated with your participation in A Sonic Affair. This waiver does not extend to rights or liabilities that cannot be waived as a matter of law, but you expressly agree that this waiver is intended to be as broad and as inclusive as permitted by governing law. You, on behalf of yourself and your agents, personal representatives, assigns, heirs, and next of kin (collectively “Releasors”), hereby release, discharge and hold harmless Mark Rothman from any claims and/or liability, actual or threatened, accruing as a result of your participation in the Event. Releasors covenant not to sue or assert any claims against Mark Rothman for any and all loss or damage on account of bodily injury (including death), property damage, or economic loss of any nature that is in any way related to the Event. Releasors further acknowledge and fully understand that there may also be other risks that are not known or foreseeable at this time.</li>
          </br>
          <li><strong>Event Ticket and Registration Policies.</strong> For any Event for which tickets or registrations are sold or otherwise required for entry, no one will be admitted to the Event without a confirmed Event ticket or registration. Event tickets and registrations are revocable licenses that may be revoked by Mark Rothman in his sole discretion, and Mark Rothman retains the right to cancel, rescind or revoke any Event tickets or registrations at any time for any reason whatsoever. Unless the terms of a particular ticket or registration sale state otherwise, ALL SALES ARE FINAL, and no refunds will be issued for any reason. All fees are nonrefundable. Unless the terms of a particular ticket or registration sale state otherwise, you may transfer your Event ticket or registration to another participant.</li>
          </br>
          <li><strong>Force Majeure.</strong> You agree that Mark Rothman is not liable for any delays or cancellations of A Sonic Affair or any component thereof due to any cause beyond Mark Rothman’s control, including without limitation weather; natural disaster; health epidemic or pandemic; unavailability of communication or utility services; war, riot, or labor difficulties; supplier failures; national or local emergency; federal, state or municipal law or regulation; damage to or destruction of Event facilities or locations; or denial of required permits or permissions (a “Force Majeure Event”). You understand that Event tickets are not refundable if the Event is terminated early or canceled in whole or in part due to a Force Majeure Event.
          </br>
          <li><strong>Governing Law and Dispute Resolution.</strong> These Terms and Conditions are governed by and will be enforced according to the laws of the State of Colorado, without regard to any conflicts of laws rules. Any claim or dispute arising out of or in connection with these Terms and Conditions must be brought exclusively in the federal and state courts located in Denver, Colorado, and the parties submit to the personal jurisdiction of such courts for the purpose of litigating all such claims or disputes.</li>
          </br>
          <li><strong>Acceptance of Terms.</strong> If you are obtaining an Event ticket or registration for, or transferring an Event ticket or registration to, any other person, you recognize that you are acting as that person’s agent in obtaining the ticket or registration, and due to this agency relationship, you agree to these Terms and Conditions on behalf of any person to whom you transfer the ticket or registration, and you shall notify any such person of these Terms and Conditions at the time of transfer. If you have obtained a ticket or registration from another person, you agree to these Terms and Conditions when the ticket or registration is transferred to you. You represent and warrant that you have the full power, consent, and authority to enter into these Terms and Conditions. You understand that these Terms and Conditions may be changed by Mark Rothman prior to A Sonic Affair and if so, the revised Terms and Conditions will be published at  and will apply to you. Your entry into A Sonic Affair signifies your binding agreement to the Terms and Conditions in effect at the time of your entry.</li>
        </ol>
      </p>

      <h2>
        YOU ACKNOWLEDGE THAT YOU HAVE READ AND FULLY UNDERSTAND THESE TERMS AND CONDITIONS, WAIVER AND RELEASE OF LIABILITY; YOU UNDERSTAND THAT YOU HAVE GIVEN UP SUBSTANTIAL RIGHTS; AND YOU DO SO KNOWINGLY AND VOLUNTARILY WITHOUT ANY INDUCEMENT OR DURESS.
      </h2>
    </div>

  </div>
</Layout>

<style lang='scss'>
  ol, p {
    font-size: 20px;
  }
  .about-content {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (max-width: 1200px) {
      margin-top: 2rem;
      gap: 2rem;
    }
  }
  .card {
    gap: 1rem;
    padding: 2rem;
    background: #00000080;
    border: 1px solid #ffffff8f;
    border-radius: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1200px) {
      padding: 2rem;
      gap: 1rem;
    }
  }
</style>
